body{
    font-family: sans-serif;
    margin: 0;
    background-color: rgb(244,228, 202);
    
}

.navbar {
  background: rgb(244,228, 202);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
  color: rgb(56, 32, 12);
  display: flex;
  align-items: center;
}

.logo img {
    height: 70px;
    margin-right: 10px;
}

.logo h2{
  font-size: 1em;
  font-weight: bold;
  color: rgb(56, 32, 12);
}
.logo h2:hover{
    color: #ffeaa7;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  color: rgb(56, 32, 12);
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.nav-links li a:hover {
  color: #ffeaa7;
}


header{
    display: flex;
    min-height: 70px;
    justify-content: center;
    background-color: rgb(244, 219, 178);
    align-items: center;
    padding: 10px;
    position:sticky;
    top: 0;
}

header h1{
    color: rgb(56, 32, 12);
}

/*Banner*/
.wrap-img {
  width: 100%;
  height: 300px;   /* altura fija */
  overflow: hidden;
}

.img-cafe {
  width: 100%;
  height: 100%;
  object-fit: cover; /* recorta la imagen para que llene el área */
}
 
.wrap{
  background-color: #fff;
  max-width: 800px;
  margin: 50px auto;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.wrap h2{
    margin-left: 50px;
    font-size: 2.5em;
    font-weight: 150;
    color: rgb(56, 32, 12,.9);
    
}
.wrap h3{
   font-size: 3.5vh;
    margin-left: 30px;
    margin-right: 30px;
    text-align: justify;
    color: rgba(56, 32, 12, 0.8);
    padding: 25px;
}

.wrap p{
    font-size: 3vh;
    margin-left: 30px;
    margin-right: 30px;
    text-align: justify;
    color: rgba(56, 32, 12, 0.8);
    padding: 25px;
}

.wrap-btn{
    text-align: center;
}
button{
     font-size: 1em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 2px 2px 10px rgb(0, 0, 0);
    color: rgb(56, 32, 12);
    background-color: rgb(244,228, 202);
    
}

html, body {
  height: 100%;
  overflow: hidden; /* Locomotive controla el scroll */
  background-color: rgb(244,228, 202);
}


/* Asegura que el footer esté incluido en el scroll */
footer.footer {
  position: relative;
  z-index: 2;
}


[data-scroll-container] {
  position: relative;
  min-height: 100vh;
  overflow: hidden; /* Locomotive lo controla internamente */
}
[data-scroll-container] {
  will-change: transform;
}